%div
  .row-fluid
    %ul{"data-bind" => "foreach: $root.tasks", style: "width: 100%;padding: 0;margin: 0;"}
      / ko if: taskAttr.status == $parent.task_state && taskAttr.assigned_to_user_id == $parent.employer
      %li
        #task-item
          %a.thumbnail.ef-background-gray{href: "#","data-bind" => "click: $root.view_task", style: "margin:10px;"}
            .caption
              .row-fluid
                .span12                      
                  .clearfix
                    %span.label.pull-left{style: "color: white;", "data-bind" =>"text: $root.status_to_string[taskAttr.status], style: { background: $root.status_to_color[taskAttr.status] }"}
                    /.span2{"data-bind" => "'ifnot': $root.current_project()"}
                    /  %strong{"data-bind" =>"text: $root.find_project_by_task($data).name"}
                    /.span2{"data-bind" =>"text: taskAttr.name,click: $root.view_task"}
                    %span.pull-right
                      %strong
                        = "#"
                        %span{"data-bind" =>"text: id"}
                  .clearfix{style: "word-wrap: break-word;"}
                    %h6{"data-bind" =>"text: taskAttr.name"}
                    %h6{"data-bind" =>"text: taskAttr.dead_line_time"}
                    %h6{"data-bind" =>"text: taskAttr.finish_to_time"}
                    %p{"data-bind" =>"html: taskAttr.description"}
                  %div
                    comments
                    %span{"data-bind" => "text: comments().length"}
                  /comments
                  %ul{"data-bind" => "foreach: comments", style: "word-wrap: break-word;"}
                    %li
                      %h6
                        %img.img-circle{"data-bind"=> "attr: { src: author.avatar.micro }"}  
                        %span{"data-bind" => "text: author.name"}
                      %p{"data-bind" => "text: commentAttr.title"}
                      %p{"data-bind" => "text: commentAttr.description"}
      / /ko