%strong 
  UNASSIGNED
  %span{"data-bind" => "text: $root.task_view_settings().unassigned_count()"}
/.row-fluid
/  .span4#first-col{style: "border: 1px solid #ddd;min-height: 200px;border-radius: 5px;"}
/    %div{"data-bind" => "template: { name: 'dashboard_by_state_template', data: {task_state: 1, employer: null} }"}
/  .span4#second-col.ui-widget-content{style: "border: 1px solid #ddd;min-height: 200px;border-radius: 5px;"}
/    %div{"data-bind" => "template: { name: 'dashboard_by_state_template', data: {task_state: 2, employer: null} }"}
/  .span4#third-col{style: "border: 1px solid #ddd;min-height: 200px;border-radius: 5px;"}
/    %div{"data-bind" => "template: { name: 'dashboard_by_state_template', data: {task_state: 3, employer: null} }"}
%div
  .row-fluid
    %ul{"data-bind" => "foreach: $root.tasks", style: "width: 100%;padding: 0;margin: 0;"}
      / ko if: TaskAttr().assigned_to_user_id == null
      %li
        #task-item
          %a.thumbnail.ef-background-gray{href: "#","data-bind" => "click: $root.view_task", style: "margin:10px;"}
            .caption
              .row-fluid
                .span12                      
                  .clearfix
                    %span.label.pull-left{style: "color: white;", "data-bind" =>"text: $root.status_to_string[TaskAttr().status()], style: { background: $root.status_to_color[TaskAttr().status()] }"}
                    / ko if: TaskAttr().task_type() != 1
                    %span.label.pull-left{style: "margin-left:10px;color: white;", "data-bind" =>"text: $root.task_type_to_string[TaskAttr().task_type()], style: { background: $root.task_type_to_color[TaskAttr().task_type()] }"}
                    / /ko
                    %span.pull-right
                      %strong
                        = "#"
                        %span{"data-bind" =>"text: id"}
                  .clearfix{style: "word-wrap: break-word;"}
                    %h6{"data-bind" =>"text: TaskAttr().name"}
                    %h6{"data-bind" =>"text: TaskAttr().dead_line_time"}
                    %h6{"data-bind" =>"text: TaskAttr().finish_to_time"}
                    %p{"data-bind" =>"html: TaskAttr().description"}
                  %div
                    comments
                    %span{"data-bind" => "text: comments().length"}
                  /comments
                  %ul{"data-bind" => "foreach: comments_for_dashboard()", style: "word-wrap: break-word;"}
                    %li
                      %h6
                        %img.img-circle{"data-bind"=> "attr: { src: author.avatar.micro }"}  
                        %span{"data-bind" => "text: author.name"}
                      %p{"data-bind" => "text: commentAttr.title"}
                      %p{"data-bind" => "text: commentAttr.description"}
      / /ko
