= render 'menus/settings', current_item: 'projects'
#projects
  .well
    %h4 Projects
    
    %p= link_to 'Create', "#create-project", class: 'btn btn-mini', "data-bind" => "click: new_project"


    / ko if: $root.data_loading()
    %div{style: "background-size: 33px;background-image: url('/assets/spinner_black.gif');width: 100px;height: 100px;background-repeat: no-repeat;margin: 0 auto;background-position: center;"}
    / /ko
    / ko ifnot: $root.data_loading()
    = render 'index'
    / /ko

  = render 'new'

:javascript
  $(function(){
    $(".collapse").collapse({toggle: false, parent: '#projects-accordion'});

    var manageProjectsViewModel = new ManageProjectsViewModel();
    manageProjectsViewModel.load_projects();

    ko.applyBindings(manageProjectsViewModel,$('#projects')[0]);

  });